#container {
    background: no-repeat center center fixed;
    margin: 0 auto;
}

#ad_cont {
    position: relative;
    width: 0px;
    height: 0px;
    left: 1007px;
    top: -5400px;
    z-index: 1000;
}
#city-cont {
    position:relative;
    top:10px;
}

#page-cont {
    position:relative;
    top:50px;
}

.resizable {
    -webkit-user-drag: element;
}

#options {
    background: white;
    position: fixed;
    top:10px;
    left:0;
    width:240px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
